# Python
*.pyc
__pycache__/

# Virtual Environment
.venv/

# Database
db.sqlite3

# VSCode
.vscode/

# Django migrations (optional: only ignore if you want fresh migrations)
# api/migrations/*.py
# !api/migrations/__init__.py

# OS files
.DS_Store
Thumbs.db
